*{
    box-sizing: border-box;
}

header, footer {
    background-color: #1F2937;
}

header h1 {
    font-size: 24px ;
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px  ;
    font-weight:bolder;
    color:#F9FAF8;
}

.hero-text p, .header-links li {
    font-size: 18px ;
    color:#E5E7EB;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 200px 100px 200px;
    gap: 40px;
}

.header-links{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    padding: 0;
}

.bar {
    display: flex;
    width:100%;
    justify-content: space-between;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}
.hero-text{
    width:300px;

} 
.random-section {
    display: flex;
    flex-direction:column ;

}

.random-section div {
    display: flex;
    flex-direction:space-between;

}

.quote-section {
    background-color: #E5E7EB;
    padding: 50px 400px;
    text-align: center;
}

.quote-text{
    font-size:36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.quote-author{
    font-weight: bold;
}

.action-section, button {
    background-color: #3882F6;
}

.hero-text h1, .hero-text p, .hero-text button{
    margin: 0;
}

.info-img{
    height: 100px;
    width:100px;
}

.hero-img {
    height: 200px;
    width: 400px;
}