*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}

header, footer {
    background-color: #1F2937;
    width:100%;
}

header h1 {
    font-size: 24px ;
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px  ;
    font-weight:bolder;
    color:#F9FAF8;
}

.hero-text p, .header-links li {
    font-size: 18px ;
    color:#E5E7EB;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 200px 100px 200px;
    gap: 40px;
}

.header-links{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    padding: 0;
}

.bar {
    display: flex;
    width:100%;
    justify-content: space-between;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}
.hero-text{
    width:300px;

} 
.random-section {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

.random-section div {
    display: flex;
    justify-content:space-between;
    width: 500px;;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;

}

.quote-text{
    font-size:36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
.quote-author{
    font-weight: bold;
    text-align: right;
    margin:0;
}
.quote-section div {
    width:100%;
}

.action-section, button {
    background-color: #3882F6;
}

.hero-text h1, .hero-text p, .hero-text button{
    margin: 0;
}

.info-img{
    height: 100px;
    width:100px;
    border-radius: 10px;
}

.hero-img {
    height: 200px;
    width: 400px;
}

.random-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img-caption {

}

button {
    border-radius: 5px;
    border:none;
    padding: 5px 15px;
    color: white;
}

.action-section {
    border-radius: 5px;
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    color: white;;
    padding: 60px 60px;
}

.action-section button {
    border: 2px solid white;
}

footer {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}